<style>
    .gatemaker {
        border: 1px solid black;
    }
</style>

<div class="gatemaker">
    This is a plugin used by the text. It's been used by <span class="usage-count"></span> page(s) until now.
</div>

<script>
    const path = window.location.pathname;
    const rawData = localStorage.getItem('gatemaker');

    let data = [];

    if (rawData) {
        data = JSON.parse(rawData);
    }

    const index = data.indexOf(path);

    const usageCount = index === -1 ? 1 : index + 1;

    document.querySelector('.gatemaker .usage-count').innerHTML = usageCount.toString();

    if (index == -1) {
        data.push(path);
        localStorage.setItem('gatemaker',JSON.stringify(data));
    }
</script>